<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내가 쓴글</title>
</head>
<body>
<span>로그인 유저:</span><span th:text="${session.sessionUserName}"></span>
<table border="1">
    <tr>
        <th>글번호</th><th>타이틀</th>
    </tr>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.no}"></td>
        <td><a th:href="@{'/board/detail/' + ${board.no}}" th:text="${board.title}">상세보기</a></td>
    </tr>



</table>
<a href="/board/list"><button>전체 글 목록으로 돌아가기</button></a>

</body>
</html>